
    <div class="container">
      <div class="theTarget">
        <div style="background-image: url(/test1.jpg)"></div>
        <div style="background-image: url(/test2.jpg)"></div>
        <div style="background-image: url(/test3.jpg)"></div>
        <div style="background-image: url(/test4.jpg)"></div>
        <div style="background-image: url(/test5.jpg)"></div>
      </div>
    </div>

    <%# <script src="javascript/jquery.min.js"></script>
    <script src="javascript/skippr.min.js"></script>
    <script src="javascript/script.js"></script> %>
